	
 *{ 
	margin:0px;
	padding:0px;
 }

body{
	background-color:#2980b9;
}


 nav {
 	margin:0px auto;
 	width: 50%;
 	border:1px solid black;
 }

 nav ul{
 	list-style-type: none;
 	text-align: center; 

 }

nav li{
	display: inline;
}

nav li a {
	color:lightblue;
	margin:5px;
	text-decoration:none;
}

nav li a:hover{
	color:darkblue;
}
#corpo{
	width:45%;
	margin:7% auto;
	padding:10px;
	
}